<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>Vue Lab</title>
   <link
     rel="stylesheet"    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
     crossorigin="anonymous"
   />
 </head>
 <body>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
   crossorigin="anonymous"></script>
   <script
   src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
   integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
   crossorigin="anonymous"></script>
 <script
   src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
   integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
   crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="numOfStops">
        Number of stops: <input id="numStops" type="number" value="10">
    </div>


<!--Computed property-->
<div id="filteredStops">
  <h3>Computed Stops:</h3>
  <button v-on:click="computedFunction">Update</button>
  <ul>
    <li
      is="filtered-item"
      v-for="(computedStop, index) in computedStops"
      v-bind:key="computedStop.id"

      v-bind:id="computedStop.id"
      v-bind:name="computedStop.name"
      v-bind:code="computedStop.code"
      v-bind:description="computedStop.description"
      v-bind:lat="computedStop.lat"
      v-bind:lon="computedStop.lon"
      v-bind:buddy="computedStop.buddy"
      v-bind:fields="computedStop.fields"
      v-bind:distance="computedStop.distance"

      v-on:remove="computedStops.splice(index, 1)"
      
    ></li>
  </ul>
</div>
<br>

<!-- combine todo list ex and stops-->
<div id="stopList">
    <h3>Full list of Stops:</h3>
  <ul>
    <li
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo.id"

      v-bind:id="todo.id"
      v-bind:name="todo.name"
      v-bind:code="todo.code"
      v-bind:description="todo.description"
      v-bind:lat="todo.lat"
      v-bind:lon="todo.lon"
      v-bind:buddy="todo.buddy"
      v-bind:fields="todo.fields"
      v-bind:distance="todo.distance"

      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>
</div>

  <!--combine todolist and stops-->
  <script>
    Vue.component('todo-item', {
      template: '\
        <li>\
          ID: {{ id }}<br>\
          Name: {{ name }}<br>\
          Code: {{ code }}<br>\
          Desc: {{ description }}<br>\
          Lat: {{ lat }}<br>\
          Lon: {{ lon }}<br>\
          Buddy: {{ buddy }}<br>\
          Fields: {{ fields }}<br>\
          Distance: {{ distance }}\
        </li>\
      ',
      props: ['id','name','code','description','lat','lon','buddy','fields','distance']
    })
    //<button v-on:click="$emit(\'remove\')">Remove</button>\ at end before </li>

    let stops = new Vue({
      el: '#stopList',
      data: {
        todos: [{
            id:	0,
            name:	"default",
            code:	"default",
            description:	"default",
            lat:	0,
            lon:	0,
            buddy:	null,
            fields:	{},
            distance:	0
          }],          
      },
    mounted: function(){
         // fetch request ex: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
         // This part should be done in mounted life-cycle hook so that it is executed when this Vue
         // object reaches mounted stage. Then, you can just assign the JSON array to the variable.
         fetch('https://utils.pauliankline.com/stops.json')
           .then(function(response) {
             return response.json();
           })
           .then(function(myJson) {
             //console.log(JSON.stringify(myJson));
             //stops.addNewTodo();
             stops.todos = myJson;
           });
         // Alternate solution to assigning is to use arrow function operator, since arrow function does
         // not have "this", then "this" will refer to the parent's "this", which is the Vue object's "this".
         // If you use function(myJson) {} instead, then the function will have its own "this" and will assign
         // to its own "this" instead of the parent's "this".

         /*
          .then((myJson) => {
             this.todos = myJson;
           });
         */

    }
    })
    </script>

  <!--Code for computed, ex: https://vuejs.org/v2/guide/computed.html-->
    <script>
      Vue.component('filtered-item', {
      template: '\
        <li>\
          ID: {{ id }}<br>\
          Name: {{ name }}<br>\
          Code: {{ code }}<br>\
          Desc: {{ description }}<br>\
          Lat: {{ lat }}<br>\
          Lon: {{ lon }}<br>\
          Buddy: {{ buddy }}<br>\
          Fields: {{ fields }}<br>\
          Distance: {{ distance }}\
        </li>\
      ',
      props: ['id','name','code','description','lat','lon','buddy','fields','distance']
    })
    //<button v-on:click="$emit(\'remove\')">Remove</button>\ at end before </li>

    let filteredStops = new Vue({
    el: '#filteredStops',
    data: {
      computedStops: [{
            id:	0,
            name:	"default",
            code:	"default",
            description:	"default",
            lat:	0,
            lon:	0,
            buddy:	null,
            fields:	{},
            distance:	0
          }],
          //numStops: '10'
    },

    created: function(){
        //this.computedFunction()
      },

    methods: {
        computedFunction: function () {
        // `this` points to the vm instance
        let tempNumStops = document.getElementById("numStops").value;
        console.log("Number of stops: " + tempNumStops);
        let splicedList = stops.todos.slice(0, tempNumStops); //returns array index from 0 to tempNumStops
        console.log("spliced: " + JSON.stringify(splicedList));
        filteredStops.computedStops = splicedList;
          }
      }

    })
    </script>

</body>
</html>
